---
// @ts-ignore
import { getCollection, type CollectionEntry } from "astro:content";
import { PostCard } from '~/components/molecules/post-card';
import { Page } from "~/layouts";
import { client } from 'tina-client';
import { getPosts } from '~/utils/posts';

// const posts_res = await client.queries.postConnection();
// const my_posts = posts_res.data.postConnection.edges?.map((post) => {
// 	if (!post?.node) return; 
// 	const {description,id,title,body} = post?.node;
// 	return (
// 		{
// 			description,
// 			id,
// 			title,
// 			body
// 		}
// 	);
// })

const posts = await getPosts();

const st = {
	_: `px-page_x py-page_y`,
	grid: `mt-10 grid gap-y-14 gap-x-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4`,
}
---
<Page title='Blog'>
	<div class={st._}>
		<h1>Blog</h1>
		<div class={st.grid}>
			{posts.map(({data,slug }) => (
				<PostCard {...data} slug={slug}  />
			))}
		</div>
	</div>
</Page>
