---
import { ReviewCarousel } from '../review-carousel'
--- 

<div class='pl-page_x py-page_y'>
	<h2 class='pr-page_x mt-[10vw]'>Nasi klienci są bardzo zadowoleni</h2>
	<ReviewCarousel client:load />
</div>