---
import { Page } from 'layouts';
---

<Page>
	<div class='px-page_x py-page_y'>
		<ol class='ml-5 text-fluid-base list-roman [&_ol]:list-decimal [&_ol]:ml-16 [&_ol]:my-12 [&_ol]:leading-[2] [&_ol]:list-outside [&>li:last-child>ol]:mb-0'>
			<li>
				Postanowienia organizacyjne
				<ol>
					<li>Każdy ćwiczący (Klient) ma obowiązek zapoznać się z warunkami niniejszego Regulaminu, zgadzając się tym samym na wszelkie jego postanowienia. Kupno karnetu lub wejścia jednorazowego jest jednoznaczne z wyrażeniem zgody na warunki Regulaminu.</li>
					<li>Do korzystania ze Studia upoważnione są osoby pełnoletnie.</li>
					<li>Klient zamierzający korzystać z usług Studia składa pisemne Oświadczenie, wyraża zgodę na przetwarzanie danych osobowych Klienta dla potrzeb marketingowych Zip Pilates Studio, natomiast w zakresie informacji związanych ze stanem zdrowia, wyłącznie dla potrzeb związanych z doborem odpowiednich, bezpiecznych dla zdrowia zajęć i ćwiczeń (ochrony zdrowia Klienta).</li>
					<li>W zajęciach mogą brać udział osoby zdrowe, bez przeciwwskazań lekarskich, które posiadają ważny karnet lub wniosły opłatę za jednorazowe uczestnictwo w zajęciach. Tym samym Klient uczestniczy w zajęciach na własną odpowiedzialność. Klient nie może znajdować się pod wpływem alkoholu bądź innych substancji odurzających.</li>
					<li>Wykupiony karnet jest imienny i nie może być wykorzystywany przez osoby trzecie.</li>
					<li>Ceny karnetów oraz wejść jednorazowych reguluje aktualny cennik.</li>
					<li><strong>Karnety 4 oraz 8 wejściowe są ważne 30 dni.</strong> W ciągu ważności karnetu należy wykorzystać wykupiony limit wejść.</li>
					<li>Istnieje <strong>możliwość przedłużenia ważności karnetu o maksymalnie 14 dni w przypadku choroby.</strong> Przedłużenie ważności karnetu następuje dopiero po wcześniejszym poinformowaniu pracownika Studia o zaistniałej sytuacji oraz zgłoszeniu przez Klienta nieobecności na zajęciach. <strong>Podczas nieobecności z innego powodu Klient ma prawo do zachowania swojego stałego terminu, opłacając 50% wartości wejścia na zajęcie.</strong> W przeciwnym razie zachowanie stałego terminu nie jest gwarantowane.</li>
					<li>Maksymalna liczba osób na zajęcia grupowe – 3. Zajęcia grupowe startują od 2 osób.</li>
					<li><strong>Można zmienić termin albo odwołać zajęcie z min 24h uprzedzeniem, w przypadku zajęć poniedziałkowych zmiana jest możliwa do godz. 20:00 najbliższej soboty przed zajęciami.</strong> Jest to warunek dla odpracowania niewykorzystanego zajęcia w inny dzień w ciągu ważności karnetu, o ile w grupie będzie miejsce. Należy wcześniej uzgodnić termin odpracowania z instruktorem.</li>
					<li><strong>Zajęcia nieodwołane traktowane są jako wykorzystane.</strong></li>
					<li>Wypowiedzenie należy złożyć osobiście w Studio lub poprzez wysłanie wypowiedzenia na skrzynkę mailową, lub telefonicznie. Okres wypowiedzenia 14 dni.</li>
					<li>Studio zastrzega sobie prawo do zawieszenia zajęć oraz usług w terminach wynikających z przyczyn technicznych lub innych istotnych okoliczności, o czym odrębnie poinformuje Klientów. Karnet automatycznie zostaje przedłużony.</li>
					<li>Cena karnetu / sesji nie uwzględnia ubezpieczenia.</li>
					<li>Studio zastrzega sobie prawo do dokonywania zmian w grafiku, cenniku, a także osób prowadzących zajęcia.</li>
					<li><strong>Klient ponosi materialną odpowiedzialność za uszkodzenia pomieszczeń studia lub sprzętu znajdującego na sali treningowej.</strong> Należy zachować czystość w Studio jak i na korytarzach budynku.</li>
					<li>Studio nie ponosi odpowiedzialności za rzeczy pozostawione bez opieki.</li>
				</ol>
			</li>
			<li>
				Uczestnictwo w zajęciach
				<ol>
					<li>Ze względu na bezpieczeństwo ćwiczącego jak również organizację pracy Studia, klientów obowiązuje punktualność w przychodzeniu na zajęcia. Do studia należy przyjść nie później niż 3 min przed rozpoczęciem zajęć nie wcześniej niż 5 minut.</li>
					<li><strong>Na zajęcia obowiązuje gładki strój, bez zamków, zapięć i zatrzasków, które mogą zniszczyć używany sprzęt. Z tego samego powodu nie nosimy biżuterii oraz klamer i spinek do włosów.</strong> Prosimy rozważyć też założenie obcisłego ubioru, który umożliwia prowadzącemu obserwowanie prawidłowego ułożenia podczas ćwiczeń. <strong>Klienci mogą brać udział w zajęciach wyłącznie w skarpetkach antypoślizgowych.</strong></li>
					<li><strong>Przed wejściem na salę należy wyłączyć telefon komórkowy lub przełączyć go na tryb bezgłośny i zostawić go w przebieralni.</strong></li>
					<li>W Studio nie są prowadzone zajęcia dla kobiet w ciąży.</li>
					<li>W przypadku dolegliwości fizycznych, urazów, kontuzji, ciąży lub problemów zdrowotnych, należy poinformować o tym instruktora przed sesją.</li>
					<li>Zabrania się samodzielnego wykonywania ćwiczeń bez nadzoru instruktora.</li>
					<li><strong>Sesje trwają 55 min.</strong></li>
					<li>Po skończonych zajęciach każdy Klient jest zobowiązany do umycia sprzętu płynem dezynfekującym i ustawienia maszyn dla kolejnej osoby ćwiczącej, schowania akcesoriów w odpowiednie miejsca.</li>
				</ol>
			</li>
			<li>
				Postanowienia końcowe
				<ol><li>Klient ma prawo i obowiązek zapoznać się z kompletnym Regulaminem Studia oraz zobowiązuje się do jego przestrzegania.</li><li>Wszystkie uwagi dotyczące pracy Studia, jak również propozycje odnośnie zajęć, należy zgłaszać do pracownika Studio.</li><li>Studio nie ponosi odpowiedzialności za żaden uszczerbek na zdrowiu odniesiony w efekcie uczestnictwa w zajęciach, jeśli klient ćwiczy pomimo wyraźnego zakazu lekarza, nie stosuje się do wyraźnych zaleceń instruktora dotyczących bezpiecznej techniki ćwiczeń, uszczerbek na zdrowiu spowodowany jest zaniedbaniem osób trzecich na sali lub w efekcie nieszczęśliwego wypadku.</li><li><strong>Regulamin jest dostępny na stronie internetowej zip-pilates-studio.com oraz w Studio. Nieznajomość regulaminu nie zwalnia z obowiązku jego przestrzegania.</strong></li><li>W zakresie nieuregulowanym umową i niniejszym Regulaminem stosuje się odpowiednie przepisy Kodeksu Cywilnego.</li><li>Gromadzenie i przetwarzanie danych osobowych niezbędnych do świadczenia usług Studia odbywa się zgodnie z Polityką Prywatności.</li></ol>
			</li>
	</div>
</Page>